.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.water-background{
    background-color: #4b495f;
}

.game-heading{
  padding: 5px 30px;
  border-radius: 5px;
  text-align: center;

}

.square-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
   width: 400px;
}

.left,
.right {
  height: 30px;
  width: 120px;
 
  border-bottom-left-radius: 50px;
  background-color: #4b495f;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-size: 18px;
  padding-bottom: 5px;
  text-align: center;
}

.winner{
  text-align: center;
}


.playOnline {
  font-weight: 700;
  border: none;
  background-color: #e4ca56;
  font-size: 60px;
  cursor: pointer;
  margin-top: 40vh;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
}

.waiting{
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  font-size: 40px;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  
}

.current-move-cross{
  background-color: #3FA2F0 !important;
}

.current-move-circle{
  background-color: #DD7F9F !important;
}  